@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b3995d;
  font-family: "Lexend Deca", sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  margin-top: 2rem;
  color: #aa0000;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-search {
  background-color: gold;
  border: none;
  color: black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
}

input {
  border: none;
  border-radius: 10px;
  padding: 7px;
}

.button-search {
  margin-top: 1rem;
}

.input-search {
  margin-top: 1rem;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3ea5f;
  color: black;
  padding: 5px;
  flex-basis: 40%;
  max-width: 70%;
  font-size: 12px;
  margin: 0 20px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-top: 3rem;
  gap: 1rem;
}
