@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #b3995d;
  font-family: "Lexend Deca", sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  margin-top: 2rem;
  font-size: 26px;
  color: #aa0000;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-search,
.clear-search-btn {
  background-color: gold;
  border: none;
  color: black;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10px;
}

.clear-search-btn {
  margin-top: 1rem;
}

input {
  border: none;
  border-radius: 10px;
  padding: 7px;
}

a {
  text-decoration: none;
}

.button-search {
  margin-top: 1rem;
}

.input-search {
  margin-top: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 2rem;
  margin-right: 10px;
}

a .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3ea5f;
  color: black;
  padding: 5px;
  /* flex-basis: 40%; */
  /* max-width: 60%; */
  font-size: 14px;
  margin: 0 40px;
}

.user:hover {
  background: gold;
}
